<!-- main-page-concept.liquid -->

{%- if request.locale.iso_code == 'en' -%}
  <div class="p-concept__wrapper">
    <div class="p-concept__fv">
      <p class="p-concept__fv__text">SMART COMFORT</p>
    </div>
    <!-- /.p-concept__fv -->

    <div class="p-concept__introduction">
      <p class="p-concept__introduction__text">
        Everyone is comfortable and pleasant. Be yourself at all times.<br>
        Living lightly with a Japanese sense of beauty, gentle to the earth, animals, and people.<br>
        From Japan to the world, the future lifestyle of "Smart Comfort" is here.
      </p>
    </div>
    <!-- /.p-concept__introduction -->

    <div id="function_design" class="c-anchor"></div>
    <section class="p-concept__1st_block">
      <div class="c-container">
        <h2 class="p-concept__1st_block__title">Function and Design</h2>
        <div class="p-concept__1st_block__content">
          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">Features and design that you couldn't find anywhere else</h3>
              <p class="p-concept__1st_block__section__text">FUMIKODA is a brand born out of creative director Fumi Koda's desire to create a business bag that is comfortable to carry around with your computer and documents. We have focused on the functions and design that you really want in order to be yourself in every scene.</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img1.jpg' | asset_url }}" alt="Features and design that you couldn't find anywhere else">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">Working Smart</h3>
              <p class="p-concept__1st_block__section__text">It is as light as possible and can be carried around without worrying about rainy days; it can hold A4 documents as well as a laptop and can be slung over the shoulder. It can hold A4 documents as well as laptops, and can be worn over the shoulder. During meetings, you can smoothly take in and out the items you need, and it can stand on its own on the floor. FUMIKODA produces such bags that can be relied on in any business situation.</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img2.jpg' | asset_url }}" alt="Working Smart">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">Design is one "function".</h3>
              <p class="p-concept__1st_block__section__text">One of the important functions of a business bag is to be designed to match any occasion, whether it is a dinner with an important person, a greeting to a business partner, or a reception after work. We have pursued functions that allow you to act smartly, confortably, and confidently in any situation.</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img3.jpg' | asset_url }}" alt="Design is one function.">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->
        </div>
        <!-- /.p-concept__1st_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__1st_block -->

    <div id="japanese_craftsmanship" class="c-anchor"></div>
    <section class="p-concept__2nd_block">
      <div class="c-container">
        <h2 class="p-concept__2nd_block__title">Manufacturing in Japan</h2>

        <div class="p-concept__2nd_block__partition"></div>

        <div class="p-concept__2nd_block__content">
          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">Japan's world-class handicrafts</h3>
              <p class="p-concept__2nd_block__section__text">In Japan, there are various traditional crafts and craftsmen's techniques that have been handed down for hundreds of years, and FUMIKODA's materials, parts, and sewing are all "Made in Japan. FUMIKODA's materials, parts, and sewing are all "Made in Japan", and we make use of Japanese aesthetics and traditional techniques in our manufacturing. Because they are used every day, no two pieces are the same, and we hope you will enjoy wearing these one-of-a-kind traditional crafts made by artisans.</p>
            </div>
            <figure class="p-concept__2nd_block__section__img">
              <img src="{{ 'img-concept_img4.jpg' | asset_url }}" alt="Japan's world-class handicrafts">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">The mysterious blue of Takaoka copperware created by 400 years of history</h3>
              <p class="p-concept__2nd_block__section__text">The Takaoka copperware series is one of the most popular FUMIKODA collections. This unique Japanese technique, once used for painting the Great Buddha, temple bells, and Buddhist altars, is now used for the accessory parts of the bag. The mystical turquoise blue color was created by Koji Orii, a traditional craftsman in Toyama Prefecture.</p>
              <a href="/blogs/journal/170618-orii-blue" class="p-concept__2nd_block__section__link">Introduction to Takaoka copperware</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
              <img src="{{ 'img-concept_img5.jpg' | asset_url }}" alt="Introduction to Takaoka copperware">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">Sabae, a city of eyeglass craftsmen attracting attention from around the world</h3>
              <p class="p-concept__2nd_block__section__text">Many of the world's leading fashion brands' eyeglass frames are made of cotton cellulose processed in Sabae City, Fukui Prefecture. The accessory parts used in the Sabae series are polished one by one by artisans in Sabae's eyeglass workshops, creating a water-worn luster and crystal-clear transparency.</p>
              <a href="/blogs/journal/161021-sabae" class="p-concept__2nd_block__section__link">Sabae, the holy land of eyeglasses</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
            <img src="{{ 'img-concept_img6.jpg' | asset_url }}" alt="Sabae, a city of eyeglass craftsmen attracting attention from around the world">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

        </div>
        <!-- /.p-concept__2nd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__2nd_block -->

    <div id="sdgs" class="c-anchor"></div>
    <section class="p-concept__3rd_block">
      <div class="c-container">
        <h2 class="p-concept__3rd_block__title">Initiatives for the SDGs</h2>
        <div class="p-concept__3rd_block__content">
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">FUMIKODA's SDGs</h3>
              <p class="p-concept__3rd_block__section__text">The Sustainable Development Goals (SDGs) were established with the pledge that no one on earth will be left behind. <br>
                Since its inception, FUMIKODA, a small brand born in Japan, has continued to make products with the hope that the earth, animals, and people can live comfortably in a sustainable society.</p>
            </div>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">animal rights</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKODA is a vegan brand that does not use any animal materials.<br>The main body of the product is made of Japanese ethical leather, which is animal-free, smooth in texture, and durable, and can be used for a long time. Gentle to the earth, animals, and people. Flexible and subtly ethical.</p>
              <a href="/blogs/journal/170616-fumikoda-material" class="p-concept__3rd_block__section__link">FUMIKODA's ethical leather</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img8.jpg' | asset_url }}" alt="animal rights">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Reuse Project</h3>
              <p class="p-concept__3rd_block__section__text">Passing on things that are still useful to the next generation. We are implementing the "Osagari" project, in which customers donate their unwanted FUMIKODA bags to help students who want to use them.</p>
              <a href="/pages/reuse" class="p-concept__3rd_block__section__link">Reuse Project</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img9.jpg' | asset_url }}" alt="Reuse Project">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">upcycle collection</h3>
              <p class="p-concept__3rd_block__section__text">We want to make effective use of resources without wasting them. With the wisdom of our craftsmen, we have created functional items by upcycling fabric scraps left over from the production of bags. We produce small items that can be used as gifts or one-point accessories for bags.</p>
              <a href="/pages/reuse-collection" class="p-concept__3rd_block__section__link">upcycle collection</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img10.jpg' | asset_url }}" alt="upcycle collection">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Recycling Project</h3>
              <p class="p-concept__3rd_block__section__text">We extract underground resources, make things, burn them, and throw them away. We want to put a stop to such a cycle, and protect the global environment by repeatedly reusing the earth's resources, thereby creating a prosperous and peaceful society. With this in mind, FUMIKODA produces items made from recycled materials.</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img11.jpg' | asset_url }}" alt="Recycling Project">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">IT Education Support Project</h3>
              <p class="p-concept__3rd_block__section__text">There are about 600 orphanages in Japan, with about 30,000 children in them. After they turn 18, they have no place to turn to such as their parents or relatives, and are forced to become independent in society alone, with emotional scars such as abuse. FUMIKODA allocates a portion of its sales to support IT education that leads to employment for children in orphanages.</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img12.jpg' | asset_url }}" alt="IT Education Support Project">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Support for Employment of People with Disabilities</h3>
              <p class="p-concept__3rd_block__section__text">It is said that the probability of giving birth to a person with intellectual disabilities is 2-3%. In order to realize a society where everyone can be independent and active, there is a need to create a system that supports the employment of people with disabilities and increase employment as much as possible.<br>At FUMIKODA, we are working with support facilities for people with disabilities to create products using upcycled fabrics.</p>
              <a href="/blogs/journal/210310-handicapped" class="p-concept__3rd_block__section__link">Making things with people with disabilities</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img15.jpg' | asset_url }}" alt="Support for Employment of People with Disabilities">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Reduction of packaging materials</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKODA is striving to go paperless and reduce the use of cushioning materials as a measure to protect forests and prevent the increase of waste, and we are trying to use recycled paper as much as possible for the paper resources that we are forced to use.</p>
              <a href="/blogs/journal/210826-shop-sdgs" class="p-concept__3rd_block__section__link">What we can do for the environment</a>
              <a href="/blogs/journal/211101-recyclingsociety" class="p-concept__3rd_block__section__link">FUMIKODA's choices to protect the forest</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img16.jpg' | asset_url }}" alt="Reduction of packaging materials">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Support for needy families</h3>
              <p class="p-concept__3rd_block__section__text">According to a survey by the Ministry of Health, Labor and Welfare, the child poverty rate is 13.5%, and one in seven children is said to be living in poverty.<br>FUMIKODA supports children from needy families and single mothers in cooperation with the NPO Kids' Door, which is engaged in activities to support children in difficult living situations.</p>
              <a href="/blogs/journal/210929-fumikodawoman" class="p-concept__3rd_block__section__link">Current situation of impoverished families</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="https://cdn.shopify.com/s/files/1/1528/3857/files/img-concept_sdgs.jpg?v=1644389401" alt="Support for needy families">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">Diversity Collection</h3>
              <p class="p-concept__3rd_block__section__text">Our goal is to develop items that allow everyone to be themselves and feel comfortable at any time, regardless of race, gender, age, occupation, or body shape.</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img13.jpg' | asset_url }}" alt="Diversity Collection">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
        </div>
        <!-- /.p-concept__3rd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__3rd_block -->

    <div id="hope" class="c-anchor"></div>
    <section class="p-concept__4th_block">
      <div class="c-container">
        <figure class="p-concept__4th_block__img">
          <picture>
            <source media="(max-width: 768px)" srcset="{{ 'img-concept_img14_sp.jpg' | asset_url }}">
            <img src="{{ 'img-concept_img14.jpg' | asset_url }}" alt="Creative Director Fumi Koda's Thoughts">
          </picture>
        </figure>
        <div class="p-concept__4th_block__textbox">
          <h2 class="p-concept__4th_block__title">Creative Director<br class="c-sp_only">Fumi Koda's Thoughts</h2>
          <p class="p-concept__4th_block__text">
            Do you ever wonder why you have to carry around a heavy bag with your computer and documents in it?<br>
            I have been searching for a luxurious bag that is light and easy to use, but I found out that many of my friends also had the same problem of not being able to find the right bag for their work.<br><br>
            I wanted to create a bag that I could not find, so I did some research and found out that manufacturing with animal skins was causing environmental and health problems, and that there was a material called man-made leather that was created with Japanese technology.<br><br>
            Although man-made leather is lighter and more durable than genuine leather, and has a comparable texture, it is easily confused with synthetic leather and is more difficult to sew than genuine leather.<br><br>
            Therefore, I started to search for craftsmen, and learned that although Japanese craftsmen have world-class skills, more and more of them are going out of business, and the culture of craftsmanship is in danger of extinction.<br><br>
            I want to combine function and fashion so that working women can take pride in themselves. I want to aim for an "animal-free" product that does not use animal leather. I want to support artisan culture by using traditional Japanese techniques. These thoughts gradually strengthened, and I decided to launch FUMIKODA, a brand that realizes these thoughts. We hope that FUMIKODA will be used by women all over the world as a "new option for working women to take pride in their lifestyle.
          </p>
          <p class="p-concept__4th_block__name">Creative Director<br>Fumi Koda</p>
          <div class="p-concept__4th_block__whitebox">
            <p class="p-concept__4th_block__whitebox__text">
              PROFILE<br><br>
              Graduated from Parsons The New School of Design. Worked as a web designer for a fashion marketing company in New York, where she was involved in the creation of websites for major brands and the management of fashion portal sites.<br><br>
              After returning to Japan, she founded her own web design company, Buplan Inc. in 2003. He has been involved in all aspects of corporate web marketing, including website production for a wide variety of industries, promotion planning, and proposals for the use of social media.<br><br>
              Since 2010, he has published a number of IT-related books, including "No Need for a Notebook: The Art of Organizing Information in the Age of Social Networks" (Kanki Publishing). His articles are serialized in the Yomiuri Shimbun's "Otemikomachi" and other publications. His most recent book is "Textbook of IoT Projects for Beginners" (Cross Media Publishing). He also founded BLUE FOR JAPAN, a non-profit organization, with volunteers after the Great East Japan Earthquake in 2011, and has been supporting children in orphanages across Japan while serving as a director of the NPO.<br><br>
              In 2016, he established FUMIKODA Co. Ltd. in 2016, and became the creative director of the ethical smart bag brand FUMIKODA.
            </p>
          </div>
          <a href="/blogs/journal/tagged/fumitalk" class="Button Button--primary p-concept__4th_block__linkbtn">FUMITALK</a>
        </div>
        <!-- /.p-concept__4th_block__textbox -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__4th_block -->
  </div>
  <!-- /.p-concept__wrapper -->
{%- elsif request.locale.iso_code == 'zh-CN' -%}
  <div class="p-concept__wrapper">
    <div class="p-concept__fv">
      <p class="p-concept__fv__text">SMART COMFORT</p>
    </div>
    <!-- /.p-concept__fv -->

    <div class="p-concept__introduction">
      <p class="p-concept__introduction__text">
        每个人都很舒适和愉快。在任何时候都要做自己。<br>
        以日本人的美感轻盈地生活，对地球、动物和人都很温和。<br>
        从日本到世界，"智能舒适 "的未来生活方式就在这里。
      </p>
    </div>
    <!-- /.p-concept__introduction -->

    <div id="function_design" class="c-anchor"></div>
    <section class="p-concept__1st_block">
      <div class="c-container">
        <h2 class="p-concept__1st_block__title">功能和设计</h2>
        <div class="p-concept__1st_block__content">
          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">你在其他地方找不到的功能和设计</h3>
              <p class="p-concept__1st_block__section__text">FUMIKODA是一个诞生于创意总监Fumi Koda的品牌，他希望创造一个可以舒适携带电脑和文件的商务包。我们专注于你真正想要的功能和设计，以便在每个场景中做你自己。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img1.jpg' | asset_url }}" alt="你在其他地方找不到的功能和设计">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">聪明工作</h3>
              <p class="p-concept__1st_block__section__text">它尽可能的轻，可以随身携带，不用担心下雨天；它可以容纳A4文件以及笔记本电脑，可以斜挎在肩上。它可以容纳A4文件以及笔记本电脑，并且可以肩背。在会议期间，你可以顺利地拿进拿出你需要的物品，而且它可以自己站在地上。<br>FUMIKODA生产的这种包，在任何商业场合都可以依赖。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img2.jpg' | asset_url }}" alt="聪明工作">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">设计是一种 "功能"。</h3>
              <p class="p-concept__1st_block__section__text">商务包的重要功能之一是要与任何场合相匹配，无论是与重要人物的晚餐，还是与商业伙伴的问候，或是下班后的接待。我们追求的功能是让你在任何情况下都能潇洒、自如、自信地行动。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
              <img src="{{ 'img-concept_img3.jpg' | asset_url }}" alt="设计是一种 '功能'。">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->
        </div>
        <!-- /.p-concept__1st_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__1st_block -->

    <div id="japanese_craftsmanship" class="c-anchor"></div>
    <section class="p-concept__2nd_block">
      <div class="c-container">
        <h2 class="p-concept__2nd_block__title">在日本制造</h2>

        <div class="p-concept__2nd_block__partition"></div>

        <div class="p-concept__2nd_block__content">
          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">日本的世界级手工艺品</h3>
              <p class="p-concept__2nd_block__section__text">在日本，有各种流传了几百年的传统工艺和工匠技术，FUMIKODA的材料、零件和缝制都是 "日本制造"。FUMIKODA的材料、零件和缝制都是 "日本制造"，我们在生产中利用了日本的美学和传统技术。因为它们每天都在使用，所以没有两件是相同的，我们希望你能喜欢穿上这些由工匠制作的独一无二的传统工艺品。</p>
            </div>
            <figure class="p-concept__2nd_block__section__img">
              <img src="{{ 'img-concept_img4.jpg' | asset_url }}" alt="日本的世界级手工艺品">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">400年的历史造就了高冈铜器的神秘之蓝</h3>
              <p class="p-concept__2nd_block__section__text">Takaoka铜器系列是最受欢迎的FUMIKODA系列之一。这种独特的日本技术，曾经用于为大佛、寺庙的钟声和佛坛上色，现在被用于包的配件部分。神秘的绿松石蓝是由富山县的传统手工艺人Koji Orii创造的。</p>
              <a href="/blogs/journal/170618-orii-blue" class="p-concept__2nd_block__section__link">高冈铜器简介</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
              <img src="{{ 'img-concept_img5.jpg' | asset_url }}" alt="400年的历史造就了高冈铜器的神秘之蓝">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">Sabae，世界领先的眼镜店中心</h3>
              <p class="p-concept__2nd_block__section__text">许多世界领先的时尚品牌的眼镜框都是由福井县鲭江市的棉纤维素加工而成。Sabae系列所使用的配件都是由Sabae眼镜工场的工匠一个个打磨而成，创造出水磨的光泽和晶莹剔透。</p>
              <a href="/blogs/journal/161021-sabae" class="p-concept__2nd_block__section__link">Sabae，眼镜的圣地</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
            <img src="{{ 'img-concept_img6.jpg' | asset_url }}" alt="Sabae，世界领先的眼镜店中心">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

        </div>
        <!-- /.p-concept__2nd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__2nd_block -->

    <div id="sdgs" class="c-anchor"></div>
    <section class="p-concept__3rd_block">
      <div class="c-container">
        <h2 class="p-concept__3rd_block__title">为可持续发展目标采取的举措</h2>
        <div class="p-concept__3rd_block__content">
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">FUMIKODA的可持续发展目标</h3>
              <p class="p-concept__3rd_block__section__text">
                可持续发展目标（SDGs）的建立是为了保证地球上没有人被遗弃。<br>
                自成立以来，FUMIKODA，这个诞生于日本的小品牌，一直在不断制造产品，希望地球、动物和人能够在可持续发展的社会中舒适地生活。</p>
            </div>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">动物权利</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKODA是一个素食品牌，不使用任何动物材料。<br>产品主体采用日本伦理皮革，不含动物成分，质地光滑，经久耐用，可长期使用。<br>对地球、动物和人都很温和。灵活而又巧妙地符合道德规范。</p>
              <a href="/blogs/journal/170616-fumikoda-material" class="p-concept__3rd_block__section__link">FUMIKODA的伦理皮革</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img8.jpg' | asset_url }}" alt="动物权利">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">再利用项目</h3>
              <p class="p-concept__3rd_block__section__text">把仍然有用的东西传给下一代。我们正在实施 "Osagari "项目，客户将他们不需要的富美家书包捐献出来，帮助那些想要使用它们的学生。</p>
              <a href="/pages/reuse" class="p-concept__3rd_block__section__link">再利用项目</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img9.jpg' | asset_url }}" alt="再利用项目">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">回收利用</h3>
              <p class="p-concept__3rd_block__section__text">我们希望有效地利用资源而不浪费。凭借工匠们的智慧，我们通过对生产箱包时留下的织物废料进行升级改造，创造了一些功能性物品。我们生产的小物品可以作为礼物或手袋的单点配件。</p>
              <a href="/pages/reuse-collection" class="p-concept__3rd_block__section__link">回收利用</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img10.jpg' | asset_url }}" alt="回收利用">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">回收项目</h3>
              <p class="p-concept__3rd_block__section__text">我们开采地下资源，制造东西，烧掉它们，然后扔掉它们。我们希望停止这样的循环，并通过重复使用地球资源来保护全球环境，从而创造一个繁荣与和平的社会。考虑到这一点，FUMIKODA生产由回收材料制成的物品。</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img11.jpg' | asset_url }}" alt="回收项目">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">IT教育支持项目</h3>
              <p class="p-concept__3rd_block__section__text">日本约有600家孤儿院，其中约有3万名儿童。在他们年满18岁后，他们没有地方可去，如他们的父母或亲戚，他们被迫独自在社会上独立，带着诸如虐待的情感伤痕。FUMIKODA将其销售额的一部分用于支持IT教育，使孤儿院的儿童能够就业。</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img12.jpg' | asset_url }}" alt="IT教育支持项目">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">对残疾人就业的支持</h3>
              <p class="p-concept__3rd_block__section__text">据说，生出智力残疾的孩子的几率是2-3%。 为了创造一个人人都能发挥积极和独立作用的社会，有必要建立一个支持残疾人就业的制度，尽可能地增加就业。<br>在FUMIKODA，我们一直与残疾人的支持机构合作，使用升级改造的织物制作产品。</p>
              <a href="/blogs/journal/210310-handicapped" class="p-concept__3rd_block__section__link">与残疾人一起制作东西</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img15.jpg' | asset_url }}" alt="对残疾人就业的支持">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">减少包装材料</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKOƟA正在努力减少无纸和缓冲材料的使用，作为保护森林和防止废物增加的措施，对于我们不得不使用的纸张资源，我们尽量使用再生纸。</p>
              <a href="/blogs/journal/210826-shop-sdgs" class="p-concept__3rd_block__section__link">我们可以为环境做什么</a>
              <a href="/blogs/journal/211101-recyclingsociety" class="p-concept__3rd_block__section__link">富美科达对保护森林的选择</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img16.jpg' | asset_url }}" alt="减少包装材料">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">支持有需要的家庭</h3>
              <p class="p-concept__3rd_block__section__text">根据卫生、劳动和福利部（MHLW）的一项调查，儿童贫困率为13.5%，据说每七个儿童中就有一个生活在贫困之中。<br>FUMIKODA与NPO儿童之门合作，支持贫困家庭的儿童和单身母亲，该组织致力于支持处境困难的儿童。</p>
              <a href="/blogs/journal/210929-fumikodawoman" class="p-concept__3rd_block__section__link">贫困家庭的现状</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="https://cdn.shopify.com/s/files/1/1528/3857/files/img-concept_sdgs.jpg?v=1644389401" alt="支持有需要的家庭">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">多样化收藏</h3>
              <p class="p-concept__3rd_block__section__text">我们的目标是开发允许每个人在任何时候做自己并感到舒适的项目，无论种族、性别、年龄、职业或体形。</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img13.jpg' | asset_url }}" alt="多样化收藏">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
        </div>
        <!-- /.p-concept__3rd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__3rd_block -->

    <div id="hope" class="c-anchor"></div>
    <section class="p-concept__4th_block">
      <div class="c-container">
        <figure class="p-concept__4th_block__img">
          <picture>
            <source media="(max-width: 768px)" srcset="{{ 'img-concept_img14_sp.jpg' | asset_url }}">
            <img src="{{ 'img-concept_img14.jpg' | asset_url }}" alt="Creative Director Fumi Koda's Thoughts">
          </picture>
        </figure>
        <div class="p-concept__4th_block__textbox">
          <h2 class="p-concept__4th_block__title">创意总监<br class="c-sp_only">Fumi Koda的想法</h2>
          <p class="p-concept__4th_block__text">
            你有没有想过，为什么你要背着一个沉重的包，里面装着你的电脑和文件？<br>
            我一直在寻找一个既轻便又容易使用的豪华包，但我发现我的许多朋友也有同样的问题，就是找不到适合他们工作的包。<br><br>
            我想创造一个找不到的包，所以我做了一些研究，发现用动物皮制造会造成环境和健康问题，而有一种材料叫人造革，是用日本技术制造的。<br><br>
            虽然人造革比真皮更轻、更耐用，而且质地相当，但它很容易与合成革相混淆，而且比真皮更难缝制。<br><br>
            因此，我开始寻找工匠，并了解到虽然日本的工匠拥有世界一流的技术，但越来越多的工匠正在倒闭，工匠文化正面临灭绝的危险。<br><br>
            我想把功能和时尚结合起来，让职业女性能够为自己感到自豪。我想以 "无动物 "产品为目标，不使用动物皮革。我想通过使用日本传统技术来支持工匠文化。这些想法逐渐加强，我决定推出FUMIKODA，一个实现这些想法的品牌。我们希望FUMIKODA能被全世界的女性使用，成为 "职业女性为自己的生活方式感到自豪的新选择。<br><br>
            通过www.DeepL.com/Translator（免费版）翻译
          </p>
          <p class="p-concept__4th_block__name">创意总监<br>小田富美</p>
          <div class="p-concept__4th_block__whitebox">
            <p class="p-concept__4th_block__whitebox__text">
              简介<br><br>
              毕业于帕森斯新设计学院。曾在纽约的一家时尚营销公司担任网页设计师，参与为主要品牌创建网站和管理时尚门户网站。<br><br>
              回到日本后，她于2003年成立了自己的网页设计公司Buplan Inc. 他参与了企业网络营销的方方面面，包括各种行业的网站制作，促销策划，以及对社交媒体使用的建议。<br><br>
              自2010年以来，他出版了许多与IT相关的书籍，包括《不需要笔记本。社交网络时代的信息组织艺术》（Kanki Publishing）。他的文章在读卖新闻的 "Otemikomachi "和其他出版物上连载。他最近的一本书是《物联网项目入门教科书》（Cross Media Publishing）。2011年东日本大地震后，他还与志愿者一起创办了非营利组织BLUE FOR JAPAN，并在担任NPO理事期间一直在支持日本各地孤儿院的儿童。<br><br>
              2016年，他成立了FUMIKODA有限公司，并成为道德智能包品牌FUMIKODA的创意总监。<br><br>
              通过www.DeepL.com/Translator（免费版）翻译
            </p>
          </div>
          <a href="/blogs/journal/tagged/fumitalk" class="Button Button--primary p-concept__4th_block__linkbtn">FUMITALK</a>
        </div>
        <!-- /.p-concept__4th_block__textbox -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__4th_block -->
  </div>
  <!-- /.p-concept__wrapper -->
{%- else -%}
  <div class="p-concept__wrapper">
    <div class="p-concept__fv">
      <p class="p-concept__fv__text">SMART COMFORT</p>
    </div>
    <!-- /.p-concept__fv -->

    <div class="p-concept__introduction">
      <p class="p-concept__introduction__text">
        誰もが快適で心地よく。どんな時も自分らしく。<br>
        日本の美意識をまとい、地球にも動物にも人にもやさしく、軽やかに生きる。<br>
        これからのライフスタイル、「スマートコンフォート」を日本から世界へ。
      </p>
    </div>
    <!-- /.p-concept__introduction -->

    <div id="function_design" class="c-anchor"></div>
    <section class="p-concept__1st_block">
      <div class="c-container">
        <h2 class="p-concept__1st_block__title">機能とデザイン</h2>
        <div class="p-concept__1st_block__content">
          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">探しても出会えなかった機能とデザイン</h3>
              <p class="p-concept__1st_block__section__text">FUMIKODAは、クリエイティブディレクターの幸田フミが、「パソコンや書類を入れて持ち歩く際に、快適なビジネスバッグを作りたい」という想いから誕生したブランドです。あらゆるシーンで自分らしくあるために、本当に欲しい機能とデザインにこだわりました。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
            <img src="{{ 'img-concept_img1.jpg' | asset_url }}" alt="探しても出会えなかった機能とデザイン">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">スマートに働く</h3>
              <p class="p-concept__1st_block__section__text">できるだけ軽くて、雨の日も気にせずに持ち歩くことができる。A4書類はもちろんノートパソコンもしっかり収納できて、肩にかけられる。会議の時、必要なアイテムをスムーズに出し入れができて、床に置いても自立する。ビジネスのあらゆるシーンで頼りになる、FUMIKODAはそんなバッグをプロデュースしています。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
            <img src="{{ 'img-concept_img2.jpg' | asset_url }}" alt="スマートに働く">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->

          <section class="p-concept__1st_block__section">
            <div class="p-concept__1st_block__section__textbox">
              <h3 class="p-concept__1st_block__section__title">デザインもひとつの「機能」</h3>
              <p class="p-concept__1st_block__section__text">大切な人とのお食事や取引先へのご挨拶、仕事帰りに立ち寄るレセプションなど、どんなシーンにもマッチするデザインであることは、ビジネスバッグの重要な機能のひとつです。あらゆる場面でスマートに、コンフォタブルに、自信をもってふるまえるための機能を追求しています。</p>
            </div>
            <figure class="p-concept__1st_block__section__img">
            <img src="{{ 'img-concept_img3.jpg' | asset_url }}" alt="デザインもひとつの「機能」">
            </figure>
          </section>
          <!-- /.p-concept__1st_block__section -->
        </div>
        <!-- /.p-concept__1st_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__1st_block -->

    <div id="japanese_craftsmanship" class="c-anchor"></div>
    <section class="p-concept__2nd_block">
      <div class="c-container">
        <h2 class="p-concept__2nd_block__title">日本のものづくり</h2>

        <div class="p-concept__2nd_block__partition"></div>

        <div class="p-concept__2nd_block__content">
          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">世界に誇れる日本の手しごと</h3>
              <p class="p-concept__2nd_block__section__text">日本には、数百年前から受け継がれてきた様々な伝統工芸や職人の技があります。FUMIKODAは、素材、パーツ、縫製のすべてが「メイド・イン・ジャパン」。日本の美意識や伝統技術を活かしたものづくりを行っています。毎日使うものだからこそ、一つとして同じものはない、職人が手掛けたオンリーワンの伝統工芸品を身にまとってお楽しみください。</p>
            </div>
            <figure class="p-concept__2nd_block__section__img">
            <img src="{{ 'img-concept_img4.jpg' | asset_url }}" alt="世界に誇れる日本の手しごと">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">400年の歴史が生み出す高岡銅器の神秘的なブルー</h3>
              <p class="p-concept__2nd_block__section__text">FUMIKODAのコレクションの中でも人気の高岡銅器シリーズ。かつては大仏や寺院の鐘、仏具の塗装に使われていた日本独自の技術を、バッグのアクセサリーパーツに使用しています。神秘的なターコイズブルーは、富山県の伝統工芸士 折井宏司氏によって生み出されました。</p>
              <a href="/blogs/journal/170618-orii-blue" class="p-concept__2nd_block__section__link">高岡銅器のご紹介</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
            <img src="{{ 'img-concept_img5.jpg' | asset_url }}" alt="400年の歴史が生み出す高岡銅器の神秘的なブルー">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

          <section class="p-concept__2nd_block__section">
            <div class="p-concept__2nd_block__section__textbox">
              <h3 class="p-concept__2nd_block__section__title">世界が注目する眼鏡職人の街「鯖江」</h3>
              <p class="p-concept__2nd_block__section__text">世界的なファッションブランドの眼鏡フレームの多くが、福井県鯖江市で加工されたコットンセルロースを使用しています。鯖江シリーズで使用しているアクセサリーパーツは、鯖江の眼鏡工房で職人の手によってひとつずつ磨かれており、水に濡れたような艶と透き通るような透明感を生み出します。</p>
              <a href="/blogs/journal/161021-sabae" class="p-concept__2nd_block__section__link">眼鏡の聖地「鯖江」</a>
            </div>
            <figure class="p-concept__2nd_block__section__img">
            <img src="{{ 'img-concept_img6.jpg' | asset_url }}" alt="400年の歴史が生み出す高岡銅器の神秘的なブルー">
            </figure>
          </section>
          <!-- /.p-concept__2nd_block__section -->

        </div>
        <!-- /.p-concept__2nd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__2nd_block -->

    <div id="sdgs" class="c-anchor"></div>
    <section class="p-concept__3rd_block">
      <div class="c-container">
        <h2 class="p-concept__3rd_block__title">SDGsへの取り組み</h2>
        <div class="p-concept__3rd_block__content">
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">FUMIKODAのSDGs</h3>
              <p class="p-concept__3rd_block__section__text">
                地球上の誰一人として取り残さないことを誓って制定された、持続可能な開発目標「SDGs」。<br>
                日本で生まれた小さなブランドFUMIKODAも、創業時から変わらず、地球や動物、そして人々が持続可能な社会で心地よく暮らせることを願いながら、ものづくりを続けています。</p>
            </div>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">アニマルフリー</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKODAは動物性素材を一切使用しないヴィーガンブランドです。<br>製品本体には、アニマルフリーでありながらなめらかな質感と耐久性にこだわった国産のエシカルレザーを使用しており、長くお使いいただけます。<br>地球にも、動物にも、人にもやさしく。しなやかに、さりげなくエシカル。</p>
              <a href="/blogs/journal/170616-fumikoda-material" class="p-concept__3rd_block__section__link">FUMIKODAのエシカルレザー</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
            <img src="{{ 'img-concept_img8.jpg' | asset_url }}" alt="アニマルフリー">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">リユースプロジェクト</h3>
              <p class="p-concept__3rd_block__section__text">まだまだ使えるモノを次の世代へ。不要になったFUMIKODAのバッグをお客様から寄付していただき、希望する学生に役立ててもらう「おさがり」プロジェクトを実施しています。</p>
              <a href="/pages/reuse" class="p-concept__3rd_block__section__link">リユースプロジェクト</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
            <img src="{{ 'img-concept_img9.jpg' | asset_url }}" alt="リユースプロジェクト">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">アップサイクルコレクション</h3>
              <p class="p-concept__3rd_block__section__text">資源を無駄なく有効利用したい。職人と知恵を出し合い、バッグを生産した際に余ってしまった生地のハギレをうまくアップサイクルした機能的なアイテムを製作しました。ギフトとして、またはバッグのワンポイントアクセサリーとしてお使いいただける小物をプロデュースしています。</p>
              <a href="/pages/reuse-collection" class="p-concept__3rd_block__section__link">アップサイクルコレクション</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
            <img src="{{ 'img-concept_img10.jpg' | asset_url }}" alt="FUMIKODAのSDGs">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">リサイクルプロジェクト</h3>
              <p class="p-concept__3rd_block__section__text">地下資源を採取し、モノを作っては燃やして捨てる。そんなサイクルに歯止めをかけ、地球上の資源を繰り返し再利用することで地球環境を守り、豊かで平和な社会を実現させたい。そんな思いでFUMIKODAはリサイクル素材を使用したアイテムをプロデュースしています。</p>
              <a href="/blogs/journal/200618-chris" class="p-concept__3rd_block__section__link">未来を共に創るリサイクルTシャツ「CHRIS」</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
            <img src="{{ 'img-concept_img11.jpg' | asset_url }}" alt="リサイクルプロジェクト">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">IT教育支援プロジェクト</h3>
              <p class="p-concept__3rd_block__section__text">全国に約600施設、3万人近くの子どもたちが入所する児童養護施設。18歳を迎えた彼らは施設を出たあと、実家や親戚などの頼る場所がなく、虐待などの心の傷を抱えたまま一人、社会での自立を迫られます。FUMIKODAは売上の一部を、児童養護施設の子どもたちの就労に繋がるIT教育支援のために充てています。</p>
              <a href="/blogs/news/180624-csr" class="p-concept__3rd_block__section__link">児童養護施設に入所する女児のためのIT教育・就労支援</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img12.jpg' | asset_url }}" alt="IT教育支援プロジェクト">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->

          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">障がい者雇用支援</h3>
              <p class="p-concept__3rd_block__section__text">知的障がい者が産まれる確率は、2～3％と言われています。誰もが自立して活躍できる社会を実現するために、障がい者の就労を支援して少しでも多くの雇用を増やす仕組みづくりが求められています。<br>FUMIKODAでは、障がい者支援施設の皆様にご協力いただき、アップサイクル生地を使ったものづくりに取り組んでいます。</p>
              <a href="/blogs/journal/210310-handicapped" class="p-concept__3rd_block__section__link">障がい者の方たちとのものづくり</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img15.jpg' | asset_url }}" alt="障がい者雇用支援">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">梱包資材削減</h3>
              <p class="p-concept__3rd_block__section__text">FUMIKOⅮAでは、森林を守り、ゴミを増やさないための対策としてペーパーレス化、緩衝材の削減などに努めており、使わざるを得ない紙資源については出来る限り再生紙を利用するように努めています。</p>
              <a href="/blogs/journal/210826-shop-sdgs" class="p-concept__3rd_block__section__link">環境のためにできること</a>
              <a href="/blogs/journal/211101-recyclingsociety" class="p-concept__3rd_block__section__link">森林を守るための、FUMIKODAの選択</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img16.jpg' | asset_url }}" alt="梱包資材削減">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">困窮家庭支援</h3>
              <p class="p-concept__3rd_block__section__text">厚生労働省の調査によると、「こどもの貧困率」は13.5%。7人に1人の子どもが貧困状態にあるといわれています。<br>FUMIKODAでは、生活が困難な状況にある子どもたちの支援活動に取り組む「NPO法人キッズドア」と協力して、困窮家庭の子どもやシングルマザーを支援しています。</p>
              <a href="/blogs/journal/210929-fumikodawoman" class="p-concept__3rd_block__section__link">貧困家庭の現状</a>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="https://cdn.shopify.com/s/files/1/1528/3857/files/img-concept_sdgs.jpg?v=1644389401" alt="困窮家庭支援">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
  
          <section class="p-concept__3rd_block__section">
            <div class="p-concept__3rd_block__section__textbox">
              <h3 class="p-concept__3rd_block__section__title">ダイバーシティデザイン</h3>
              <p class="p-concept__3rd_block__section__text">人種、性別、年齢、職業、体形などに囚われず、すべての人がどんな時でも自分らしく、心地よくいられることを目指したアイテムを開発しています。</p>
            </div>
            <figure class="p-concept__3rd_block__section__img">
              <img src="{{ 'img-concept_img13.jpg' | asset_url }}" alt="ダイバーシティデザイン">
            </figure>
          </section>
          <!-- /.p-concept__3rd_block__section -->
        </div>
        <!-- /.p-concept__3rd_block__content -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__3rd_block -->

    <div id="hope" class="c-anchor"></div>
    <section class="p-concept__4th_block">
      <div class="c-container">
        <figure class="p-concept__4th_block__img">
          <picture>
            <source media="(max-width: 768px)" srcset="{{ 'img-concept_img14_sp.jpg' | asset_url }}">
            <img src="{{ 'img-concept_img14.jpg' | asset_url }}" alt="クリエイティブディレクター 幸田フミの想い">
          </picture>
        </figure>
        <div class="p-concept__4th_block__textbox">
          <h2 class="p-concept__4th_block__title">クリエイティブディレクター <br class="c-sp_only">幸田フミの想い</h2>
          <p class="p-concept__4th_block__text">
            重いバッグにパソコンや書類を入れて持ち歩かなければならないことに疑問を感じませんか？<br>
            仕事で使いやすい軽くてデザインが素敵なバッグを求め続けてきましたがなかなか巡り会えず、多くの友人も「ビジネスシーンで使えるバッグがない」という同じ悩みを抱えていることがわかりました。<br>
            <br>
            探しても出会えなかったバッグを自ら生み出したいと考え、ものづくりの世界に一歩踏み入れたとき、動物の皮を鞣（なめ）す際に地球環境に負荷がかかっていること、そして日本の優れた技術によって生み出された「人工皮革」という高品質なヴィーガンレザーがあることを知りました。<br>
            <br>
            人工皮革は一般的な合成皮革と異なり、軽さ、耐久性で本革より優れていて、質感も遜色ないにもかかわらず、高級素材であること（単価た高いです）、縫製が難しいことなどから、バッグにはほとんど使用されていませんでした。<br>
            <br>
            そこで、理想のバッグを作ってもらえる職人探しを始めましたが、日本の職人は世界に誇る技術を持っていながら、廃業が増え、職人文化が存続の危機にあることを知りました。<br>
            <br>
            機能とファッションを両立させ、働く女性が自分に誇りを持てるようにしたい。できるだけ地球環境を負荷をかけないものづくりを目指したい。そして、日本の伝統技術を活用することで職人文化を応援したい。<br>
            そんな想いが次第に強まり、2016年に「FUMIKODA」を立ち上げました。<br>
            <br>
            「自分のライフスタイルに誇りを持てる新しい選択肢」として、FUMIKODAを世界中の女性に使っていただきたいと思っています。
          </p>
          <p class="p-concept__4th_block__name">クリエイティブディレクター<br>幸田 フミ</p>
          <div class="p-concept__4th_block__whitebox">
            <p class="p-concept__4th_block__whitebox__text">
              PROFILE<br><br>
              Parsons The New School of Design卒業。ニューヨークのファッションマーケティング会社にウェブデザイナーとして勤務し、大手ブランドのサイト制作やファッション系ポータルサイトの運営などを手がけた。<br><br>
              帰国後2003年にウェブデザイン会社、株式会社ブープランを創業。多岐にわたる業界のウェブサイト制作をはじめ、プロモーションの企画やソーシャルメディア活用の提案など、企業のウェブマーケティング全般に携わっている。<br><br>
              2010年より「手帳なんていらない ソーシャルネットワーク時代の情報整理術」（かんき出版）などIT関連の書籍を上梓。読売新聞「大手小町」等で記事を連載中。近著「はじめてのIoTプロジェクトの教科書」（クロスメディアパブリッシング）。また、2011年の東日本大震災を機に有志とともに特定非営利活動法人BLUE FOR JAPANを設立。NPOの理事を務めながら、全国の児童養護施設の児童を支援している。<br><br>
              2016年に株式会社FUMIKODAを設立。エシカルなスマートバッグブランド「FUMIKODA」のクリエイティブ・ディレクターに就任。
            </p>
          </div>
          <a href="/blogs/journal/tagged/fumitalk" class="Button Button--primary p-concept__4th_block__linkbtn">FUMITALK</a>
        </div>
        <!-- /.p-concept__4th_block__textbox -->
      </div>
      <!-- /.c-container -->
    </section>
    <!-- /.p-concept__4th_block -->
  </div>
  <!-- /.p-concept__wrapper -->
{%- endif -%}